header {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border-bottom: 7px solid orange;
  }
  
footer{
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    border-top: 7px solid orange;
  }
  
.partial {
    color: white;
    background-color: black;
    text-align: center;
    padding: 1px;
}

table th {
    padding: 10px 20px;
    border-bottom: 2px solid gray;
}
  
table td {
    background-color: #f9ecd5;
    padding: 10px 20px;
}
  
.notice {
    background-color: #ccf;
    padding: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
    
.modal-content{
    background-color: white;
    width: 500px;
    margin: 40% auto;
}
    