header {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border-bottom: 7px solid orange;
  }
  
footer{
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    border-top: 7px solid orange;
  }
  
.partial {
    color: white;
    background-color: black;
    text-align: center;
    padding: 1px;
}

table th {
    padding: 10px 20px;
    border-bottom: 2px solid gray;
}
  
table td {
    background-color: #f9ecd5;
    padding: 10px 20px;
}
    
open, .close {
    border: 1px solid #333333;
    width: 120px;
    cursor: pointer;
    background-color: darkgray;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 130px;
    background-color: lightgray;
    display: none;
}